.features-box-container {
  margin-top: 3rem;
  margin-bottom: 5rem;
  
  @media only screen and (min-width: 900px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.feature-container {
  margin: 1rem auto;
  display: flex;
  
  @media only screen and (min-width: 900px) {
    max-width: calc(50%);
    width: 50%;
    margin: 8rem 0 0rem 0;

    &:nth-child(odd) {
      flex-direction: row-reverse;
      text-align: right;
      margin-top: 2rem;

      .feature-logo {
        margin: 0 2rem 0 3rem;
      }
    }
  }
}

.feature-title-container {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;

  @media only screen and (max-width: 800px) {
    font-size: 18px;
  }
  @media only screen and (max-width: 380px) {
    font-size: 16px;
  }
}

.feature-logo {
  min-width: 40px;
  height: 40px;
  border: 1px solid;
  border-radius: 50%;
  padding: .5rem;
  box-sizing: content-box;
  border-color: #d402f8;
  margin-right: 2rem;
  @media only screen and (min-width: 900px) {
    min-width: 60px;
    height: 60px;
    margin: 0 3rem 0 2rem;
    padding: 1rem;
  }
}

.feature-description {
  background: linear-gradient(90deg, rgb(213, 0, 249) 0%, rgb(101, 31, 255) 100%);
  padding: 0.3rem 0.5rem;
  display: inline-block;
  border-radius: 0.2rem;
  margin-top: .5rem;
}
